<template>

     <!-- Footer -->
        <footer class="w3-container w3-padding-32 w3-grey">  

          <div v-show="!this.about.hobbies" class="text-center pb-4 pt-4" >
            <div class="spinner-border text-light text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
          </div>

            <div v-show="this.about.hobbies" class="w3-row-padding">
              
                <div class="w3-third">
                    <h3>INFOS</h3>
                    <p v-for="info in getInfos" :key="info.id" >{{info}}</p>
                </div>

                <div class="w3-third">
                    <h3>PERMIS</h3>
                    <p><i class="fa fa-address-card-o" aria-hidden="true"></i> {{about.permis}}</p>
                </div>

                <div class="w3-third">
                    <h3>HOBBIES</h3>
                    <p>
                        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom mr-2" v-for="hobbie in getHobbies" :key="hobbie.id">{{hobbie}}</span>
                    </p>
                </div>
            </div>
        </footer>

</template>

<script>
    export default {

        data(){
            return {
                about:{}
            }
        },

        computed: {
            getHobbies() {
                if (this.about.hobbies){
                    console.log('HOBBIES ',this.about.hobbies.split(";"));
                    return this.about.hobbies.split(";");
                    } else {
                      return false;
                    }
                },
            getInfos() {
                if (this.about.infos){
                    console.log('INFOS ',this.about.infos.split("\n"));
                    return this.about.infos.split("\n");
                    } else {
                      return false;
                    }
                }
        },

        created(){
            axios.get('/about')
            .then( response => {this.about = response.data} )
            .catch(error => console.log('Error : ', error));
        },

        mounted() {
            console.log('Component Footer mounted.')
        }
    }
</script>
