<template>

    <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about">
        
        <div v-parallax="0.1" class="about-content pt-5" >
          <h4><b>A PROPOS</b></h4>
          <img :src="about.img" :alt="about.title" class="img-fluid w3-image w3-padding-32" >
          <div class="w3-content w3-justify pb-5" style="max-width:600px">
              <h4>{{about.title}}</h4>
              <p>
                  {{about.description}}
              </p>

              <skills></skills>
          </div>

        </div>

    </div>

</template>

<script>
    export default {

        data(){
            return {
                about:{}
            }
        },

        created(){
            axios.get('/about')
            .then( response => {this.about = response.data} )
            .catch(error => console.log('Error : ', error));
        },

        mounted() {
            console.log('Component About mounted.' + this.item)
        }
    }
</script>
