<template>
    <div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">
            <span style="font-size:35px;padding:0 10px;font-weight:bold;">+</span>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalLabel">Add a project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" >
                    <img-uploader @image-uploaded="refreshImg" v-model="img" v-bind:status="this.stateUpload" ></img-uploader>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" v-model="name" >
                    </div>
                    <div class="form-group">
                        <label for="name">Description</label>
                        <textarea name="description" class="form-control" id="description" cols="30" rows="10" v-model="description" ></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" @click="storeItem" >Save</button>
            </div>
            </div>
        </div>
        </div>

    </div>
</template>

<script>
    export default {

        data(){
            return {
                name: '',
                img: '',
                fileName: '',
                file: '',
                description: '',
                stateUpload: false
            }
        },

        methods: {
            storeItem(){
                const formData = new FormData();

                formData.append('file', this.file, this.fileName );
                formData.append('name', this.name);
                formData.append('description', this.description);
                formData.append('img', '');

                // (url, ObjectSend)
                axios.post('/itemsList', formData)
                .then(response => {
                    this.$emit('item-added', response);

                    this.name = '';
                    this.img = '';
                    this.description = '';
                    this.file = '';
                    this.stateUpload = true;

                    this.$toastr.s("Que c'est beau !"); // Tostr notification
                    }) // emit(name, object) It will execute a function defined in html tag <add-item>
                .catch(error => {
                    console.log(error)
                    this.$toastr.e('Error : ' + error);
                    });
            },
            refreshImg(file){
                this.fileName = file.name;
                this.file = file;
                this.stateUpload = false;
            }
        },

        mounted() {
            console.log('Component AddItem mounted.')
        }
    }
</script>
