<template>
    <div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <span style="font-size:35px;padding:0 10px;font-weight:bold;">+</span>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" >
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" v-model="name" >
                    </div>
                    <div class="form-group">
                        <label for="name">Value</label>
                        <input type="range" class="form-control" min="0" max="100" step="10" v-model="value" name="value" id="value" >
                    </div>
                    <div class="form-group">
                        <label for="name">Position</label>
                        <input type="number" class="form-control" name="order" id="order" v-model="order" >
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" @click="storeSkill" >Save</button>
                </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data(){
            return {
                name: '',
                value: '',
                order: ''
            }
        },

        methods: {
            storeSkill(){
                const formData = new FormData();

                formData.append('name', this.name );
                formData.append('value', this.value);
                formData.append('order', this.order);

                // (url, ObjectSend)
                axios.post('/skillsList', formData)
                .then(response => {
                    this.$emit('skill-added', response);

                    this.name = '';
                    this.value = '';
                    this.order = '';

                    this.$toastr.s("Impressionnant !"); // Tostr notification
                    }) // emit(name, object) It will execute a function defined in html tag <add-skill>
                .catch(error => {
                    console.log(error)
                    this.$toastr.e('Error : ' + error);
                    });
            }
        },

        mounted() {
            console.log('Component AddSkill mounted.');
        }
    }
</script>
