<template>

    <!-- Contact section -->
    <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
        <div class="w3-content pb-4" >
            <h4 class="w3-center pb-3 pt-3"><b>Contact Me On</b></h4>
            <div class="w3-center btn-socials" >
                <a href="https://www.linkedin.com/in/paul-harraca-6773b421/" target="_blank" class="btn btn-linkedin"><span class="fa fa-linkedin"></span></a>
            </div>
        </div>
    </div>

</template>

<script>
    export default {

        data(){
            return {
                about:{}
            }
        },

        created(){
            axios.get('/about')
            .then( response => {this.about = response.data} )
            .catch(error => console.log('Error : ', error));
        },

        mounted() {
            console.log('Component About mounted.' + this.item)
        }
    }
</script>
