<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" aria-label="Close" @click="destroySkill" >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>

<script>
    export default {

        props: ['idToDelete'],

        methods: {
            destroySkill(){
                // console.log('Is to delete ', this.idToDelete);

                // (url, ObjectSend)
                axios.post(
                    '/destroySkill/'+this.idToDelete,
                    { name: this.name }
                )
                .then(response => this.$emit('skill-added', response)) // emit(name, object) It will execute a function defined in html tag <add-skill>
                .catch(error => console.log(error));
            }
        },

        mounted() {
            console.log('Component DestroySkill mounted on '+this.idToDelete)
        }
    }
</script>
