<template>
    <div id="gallery">

        <div v-show="!loaded" class="loader" >
            <img src="img/loader.gif" alt="Loading...">
        </div>
        
        <div v-show="loaded" >
            <!-- Photo grid -->
            <div v-html="galleryItems(this.pagination.from,this.pagination.to)" ></div>
        

            <!-- Pagination -->
            <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                <a href="#" class="w3-bar-item w3-button w3-hover-black" @click="prevPage()">«</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black" v-bind:class="isActive(index)" @click="switchPage(index)"  v-for="(p, index) in totalPages"  :key="p.id" >{{index + 1}}</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black" @click="nextPage()" >»</a>
                </div>
            </div> 

        </div>

            <!-- Modal for full size images on click-->
            <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
                <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
                <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                    <img id="img01" class="w3-image pb-5">
                    <p id="caption"></p>
                </div>
            </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                items : {},
                loaded: false,
                pagination: {
                    from:0,
                    to:11,
                    perPage:11,
                    currentPage: 0
                }
            }
        },

        computed: {
            totalPages() { 
                if (this.items.length){
                    return Math.ceil(this.items.length / this.pagination.perPage);
                    }
                }
        },

        methods: {
            galleryItems(from = 0, to = 11){
                let max = 0
                let content = '<div class="w3-row w3-grayscale-min" >';
                if (this.items.length > 0){
                    this.items.map((item, index) => {

                        if (index >= from && index <= to){

                            max++;
                            content += '<div class="w3-quarter" style="background-image:url('+item.img+')" onclick="onClick(this)" data-src="'+item.img+'" data-alt="'+item.name+'" ></div>';
                            if(max === 4){
                                content += '</div><div class="w3-row w3-grayscale-min" >';
                                max = 0;
                            }

                        } // endIf
                    });
                }
                return content+'</div>';
            },

            switchPage(page){
                // Update current page value
                this.pagination.currentPage = page;

                // Define the items range
                this.pagination.from = page > 0 ? (page * this.pagination.perPage) + 1 : 0 ;
                this.pagination.to = page > 0 ? ((page * 2) * this.pagination.perPage) : this.pagination.perPage;

                // Some visual effect could be great
            },

            nextPage(){
                this.switchPage( this.pagination.currentPage + 1 );
            },
            prevPage(){
                this.switchPage( this.pagination.currentPage - 1 );
            },

            isActive(index) {
                return {
                    active: this.pagination.currentPage == index
                }
            }
        },

        created(){
            axios.get('/itemsList')
            .then( response => {
                this.items = response.data;
                this.loaded = true;
                console.log('Loading !!', this.loaded);
                })
            .catch(error => console.log('Error : ', error));
        },

        mounted() {
            
            console.log('Loading !!', this.loaded);
            console.log('Component Gallery mounted.');
        }
    }
</script>
