<template>
    <div>
        <div class="w3-main w3-content" style="max-width:1600px;margin-top:83px">
            <gallery></gallery>
            <about></about>
            <contact></contact>
        </div>
        <about-footer></about-footer>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component Home mounted.')
        }
    }
</script>
