<template>
    <div class="container-fluid">

        <div class="row my-5">
            <div class="col">
                <!-- Add taged component -->
                <add-item @item-added="refresh" ></add-item>
            </div>
        </div>

        
            <div v-for="item in items" :key="item.id" style="display:inline-block">

                <div class="card mb-3 mr-3" style="width: 18rem;">
                    <img :src="item.img" :alt="item.name" class="img-fluid" >
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <update-item @item-added="refresh" v-bind:item="item" ></update-item>
                            </div>
                            <div class="col-md-6 text-right">
                                <destroy-item @item-added="refresh" v-bind:idToDelete="item.id" ></destroy-item>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        
    </div>
</template>

<script>
    export default {

        data() {
            return {
                items : {}
            }
        },

        created(){
            axios.get('/itemsList')
            .then( response => this.items = response.data )
            .catch(error => console.log('Error : ', error));
        },

        methods:{
            refresh(items){
                console.log(items.data);
                this.items = items.data;
            }
        },

        mounted() {
            console.log('Component mounted.')
            console.log('Token ', localStorage.getItem('access_token'));
        }
    }
</script>
