<template>
    <div class="login-content">

      <div class="col text-right">
            <logout-btn></logout-btn>
        </div>
      <div class="row">
        <div class="col"></div>

        <div class="col">

          <form @submit.prevent="login" class="login">
              <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter email" v-model="username" >
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" v-model="password" >
              </div>
              <button type="submit" class="btn btn-success">Connect</button>
          </form>

        </div>
        <div class="col"></div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                username : '',
                password : ''
            }
        },

        methods:{
            login(){

                axios.post(
                    '/api/login',
                    { username: this.username, password: this.password }
                )
                .then(response => {
                    if (response.data.access_token){
                        this.$toastr.s('Connected!');
                        localStorage.setItem('access_token', response.data.access_token);
                        this.$router.push('/admin') // redirection
                    }else{
                        this.$toastr.e('Access denied!');
                    }
                })
                .catch(error => console.log(error));

            } // login
        },

        mounted() {
            console.log('Logout Component mounted.')
        }
    }
</script>
