<template>
    <div>

        <form @submit.prevent="logout">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>

    </div>
</template>

<script>
    export default {

        methods:{
            logout(){

                axios.create(
                    {
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer '+localStorage.getItem('access_token')
                        }
                    }
                )
                .post('/api/logout')
                .then(response => {
                    localStorage.removeItem('access_token');
                    this.$router.push('/'); // redirection
                    console.log(response.data);
                })
                .catch(error => console.log(error));

            } // logout
        },

        mounted() {
            console.log('Logout Component mounted.')
        }
    }
</script>
