<template>
    <div>

        <div v-show="!this.skills.length" class="text-center pb-4 pt-4" >
            <div class="spinner-border text-light text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div v-show="this.skills.length" >
            <hr class="w3-opacity">
            <h4 class="w3-padding-16">Technical Skills</h4>

            <div v-for="skill in skills" :key="skill.id" >
                <p class="w3-wide mt-4">{{ skill.name }}</p>
                <div class="w3-white" >
                    <div class="w3-container w3-padding-small w3-center w3-grey" :style="'width:'+skill.value+'%;'">{{skill.value}}%</div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                skills : {}
            }
        },

        created(){
            axios.get('/skillsList')
            .then( response => this.skills = response.data )
            .catch(error => console.log('Error : ', error));
        },

        methods:{
            refresh(skills){
                console.log(skills.data);
                this.skills = skills.data;
            }
        },

        mounted() {
            console.log('Component Skills mounted.');
        }
    }
</script>
