<template>
    <div class="container-fluid">

        <div class="row my-5">
            <div class="col">
                <!-- Add taged component -->
                <add-skill @skill-added="refresh" ></add-skill>
            </div>
        </div>

        <ul class="list-group">
            <div class="list-group-item" v-for="skill in skills" :key="skill.id" >

                <div class="row">
                    <div class="col">
                        <b>{{ skill.name }}</b>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" :style="'width:'+skill.value+'%;'" :aria-valuenow="skill.value" aria-valuemin="0" aria-valuemax="100">{{skill.value}}%</div>
                        </div>
                    </div>
                    <div class="col text-right">
                        <destroy-skill @skill-added="refresh" v-bind:idToDelete="skill.id" ></destroy-skill>
                    </div>
                </div>

            </div>
        </ul>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                skills : {}
            }
        },

        created(){
            axios.get('/skillsList')
            .then( response => this.skills = response.data )
            .catch(error => console.log('Error : ', error));
        },

        methods:{
            refresh(skills){
                console.log(skills.data);
                this.skills = skills.data;
            }
        },

        mounted() {
            console.log('Component Skill mounted.');
        }
    }
</script>
