<template>
    <div>

        <div v-show="!this.about.title" class="text-center pb-4 pt-4" >
            <div class="spinner-border text-dark text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div v-show="this.about.title" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">ABOUT ME</h5>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" >
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" id="title" v-model="about.title" >
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" class="form-control" id="description" cols="30" rows="10" v-model="about.description" ></textarea>
                    </div>
                    <img :src="about.img" :alt="about.title" class="img-thumbnail" v-if="!this.file" >
                    <img-uploader @image-uploaded="refreshImg" v-model="about.img" v-bind:status="this.stateUpload" ></img-uploader>

                    <hr/>

                    <div class="form-group">
                        <label for="infos">Infos</label>
                        <textarea name="infos" class="form-control" id="infos" cols="30" rows="10" v-model="about.infos" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="permis">Permis</label>
                        <input type="text" class="form-control" name="permis" id="permis" v-model="about.permis" >
                    </div>
                    <div class="form-group">
                        <label for="hobbies">Hobbies</label>
                        <textarea name="hobbies" class="form-control" id="hobbies" cols="30" rows="10" v-model="about.hobbies" ></textarea>
                    </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" @click="updateAbout" >Save</button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data(){
            return {
                about:{},
                fileName: '',
                file: '',
                stateUpload: false
            }
        },

        created(){
            axios.get('/about')
            .then( response => {this.about = response.data} )
            .catch(error => console.log('Error : ', error));
        },

        methods: {
            updateAbout(){
                const formData = new FormData();

                if ( this.file ){
                    formData.append('file', this.file, this.fileName );
                    formData.append('img', this.about.img);
                }

                formData.append('title', this.about.title);
                formData.append('description', this.about.description);
                formData.append('infos', this.about.infos);
                formData.append('permis', this.about.permis);
                formData.append('hobbies', this.about.hobbies);

                // (url, ObjectSend)
                axios.post('/updateAbout/'+this.about.id, formData)
                .then(response => {
                    // this.$emit('about-updated', response);

                    this.stateUpload = true;

                    this.$toastr.s('Quel chaud !'); // Tostr notification
                    }) // emit(name, object) It will execute a function defined in html tag <add-item>
                .catch(error => {
                    console.log(error)
                    this.$toastr.e('Error : ' + error);
                    });
            },
            refreshImg(file){
                this.fileName = file.name;
                this.file = file;
                this.stateUpload = false;
            }
        },

        mounted() {
            console.log('Component UpdateAbout mounted.' + this.item)
        }
    }
</script>
