<template>
    <div v-if="this.item.id">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" :data-target="'#updateItem-'+this.item.id">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
            </svg>
        </button>

        <!-- Modal -->
        <div class="modal fade" :id="'updateItem-'+this.item.id" tabindex="-1" role="dialog" :aria-labelledby="'updateModalLabel-'+this.item.id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" :id="'updateModalLabel-'+this.item.id">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" >
                    <img :src="img" :alt="item.name" class="img-fluid" v-if="!this.file" >
                    <img-uploader @image-uploaded="refreshImg" v-model="img" v-bind:status="this.stateUpload" ></img-uploader>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" v-model="name" >
                    </div>
                    <div class="form-group">
                        <label for="name">Description</label>
                        <textarea name="description" class="form-control" id="description" cols="30" rows="10" v-model="description" ></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" @click="updateItem" >Save</button>
            </div>
            </div>
        </div>
        </div>

    </div>
</template>

<script>
    export default {

        props: ['item'],

        data(){
            return {
                id: this.item.id,
                name: this.item.name,
                img: this.item.img,
                fileName: '',
                file: '',
                description: this.item.description,
                stateUpload: false
            }
        },

        methods: {
            updateItem(){
                const formData = new FormData();

                if ( this.file ){
                    formData.append('file', this.file, this.fileName );
                    formData.append('img', this.img);
                }

                formData.append('name', this.name);
                formData.append('description', this.description);

                // (url, ObjectSend)
                axios.post('/updateItem/'+this.id, formData)
                .then(response => {
                    this.$emit('item-added', response);

                    this.stateUpload = true;

                    this.$toastr.s('Image Update successfull!'); // Tostr notification
                    }) // emit(name, object) It will execute a function defined in html tag <add-item>
                .catch(error => {
                    console.log(error)
                    this.$toastr.e('Error : ' + error);
                    });
            },
            refreshImg(file){
                this.fileName = file.name;
                this.file = file;
                this.stateUpload = false;
            }
        },

        mounted() {
            console.log('Component UpdateItem mounted.' + this.item)
        }
    }
</script>
